git+https://github.com/elifesciences/elife-tools.git@05def8780aaf7ffb247c409ad77d62d186f1abdd#egg=elifetools
git+https://github.com/elifesciences/elife-article.git@af8bd6feb0642653264e53d6fffda4c5f6ecad88#egg=elifearticle
GitPython==0.3.2.1
configparser==3.5.0